@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica Neue, -apple-system, BlinkMacSystemFont,
    Fira Sans, sans-serif;
}

::selection {
  background: #a7f3d0; /* WebKit/Blink Browsers */
}

.dark ::selection {
  background: #4f46e5; /* WebKit/Blink Browsers */
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.default-transition {
  @apply transition-all duration-300 ease-in-out;
}

.bg-noisy {
  background-image: url("../images/noise.png");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.03;
}
