@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica Neue, -apple-system, BlinkMacSystemFont,
    Fira Sans, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Satoshi-Variable";
}

.handwriting {
  font-family: "Indie Flower";
  font-weight: 600;
}

.wavy {
  text-decoration-style: wavy;
}
