@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica Neue, -apple-system, BlinkMacSystemFont,
    Fira Sans, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.magnat-head {
  font-family: "Magnat Head", serif;
}

.magnat-text {
  font-family: "Magnat Text", serif;
}

.handwriting {
  font-family: "Indie Flower";
  font-weight: 600;
}

.wavy {
  text-decoration-style: wavy;
}

.default-transition {
  @apply transition-all duration-300 ease-in-out;
}

.horizontal-dotted-border {
  background-image: linear-gradient(
    to right,
    green 15%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.vertical-dotted-border {
  background-image: linear-gradient(green 15%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 10px;
  background-repeat: repeat-y;
}

.dark .horizontal-dotted-border {
  background-image: linear-gradient(
    to right,
    green 15%,
    rgba(255, 255, 255, 0) 0%
  );
}

.dark .vertical-dotted-border {
  background-image: linear-gradient(green 15%, rgba(255, 255, 255, 0) 0%);
}

.animate-pulse {
  animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 0) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.typed-cursor {
  @apply text-green-600;
}
